.grid-erea {
  display: grid;
  grid-template-columns: repeat(10, 4rem);
  grid-template-rows: repeat(10, 4rem);
  background-color: rgb(85, 80, 80);
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem;
}
